<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  
  <title>DietManager</title>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/dietmanager.css}" href="../../css/dietmanager.css" />
    
    <style type="text/css">
	.jumbotron {
	    background: #fff url("/static/images/background.jpg") no-repeat center center fixed;
		background-size: cover;
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    -o-background-size: cover;
	}
	.input-group-margin {
		margin-bottom: 10px;
	}
	</style>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/login}" method="POST">
                <fieldset>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and/or password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="input-group input-group-margin">
						<span class="input-group-addon">
			 		       <i class="glyphicon glyphicon-user"></i>
						</span>
						<label for="inputUserName" class="sr-only">User name</label>
						<input id="inputUserName" type="text" name="username" class="form-control input-lg" placeholder="username" required="required" autofocus="autofocus" />
					</div>
					
					<div class="input-group input-group-margin" >
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-lock"></i>
						</span>
						<label for="inputPassword" class="sr-only">Password</label>
						<input id="inputPassword" type="password" name="password" class="form-control input-lg" placeholder="password" required="required" />
					</div>
					
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>