<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"></head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1>403 - Access denied</h1>
        <div th:inline="text">'[[${#httpServletRequest.remoteUser}]]', you do not have permission to access this page!</div>
    	<div th:if="${param.requesturi}">
        	<div th:text="${param.requesturi[0]}"></div>   
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>