<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


	<table id="calendarEventTbl" class="table table-condensed" border="1">
		<caption class="text-right">
			<small>Number of events: 1 (total: 75)</small><br> <small>Last
				updated: 30.01.16 16:47:39</small>
		</caption>

		<thead>
			<tr class="info">
				<th colspan="5" class="text-left"></th>
			</tr>
		</thead>
		<tbody>
			<tr id="date_tirsdag, 02. feb 2016" class="active">
				<td colspan="6" class="text-left"><span class="label label-info">Frokost</span></td>
			</tr>
			<tr id="row_103">
				<td class="text-right" style="border-top: none;"><a
					href="/calendar/event/103"> <i class="glyphicon glyphicon-check"></i></a>
					<small><span class="text-primary">&nbsp;08:30 - 09:00</span></small>
				</td>
				<td class="text-left" style="border-top: none;">
				<dl>
					<dd>3 brødskiver med margarin og pålegg / Havregrøt på lettmelk med 1 ts sukker og evntuelt kanel</dd>
					<dd>1 glass lettmelk (2 dl)</dd>
                  	<dd>1 frukt</dd>
                  	<dd>25 ml Fresubin Energy</dd>
                  </dl>
				</td>
				<td style="border-top: none;">
					<div class="btn-group">
						<a href="#" onclick="deleteEvent('tirsdag, 02. feb 2016','103');"
							class="btn btn-default btn-xs"> <span
							class="glyphicon glyphicon-remove-circle delete-color"></span>
						</a> <a href="/calendar/event/edit/103" class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-edit edit-color"></span>
						</a>
					</div>
				</td>
			</tr>
			
			<tr id="date_tirsdag, 02. feb 2016" class="active">
				<td colspan="6" class="text-left"><span class="label label-info">Lunsj</span></td>
			</tr>
			<tr id="row_103">
				<td class="text-right" style="border-top: none;" valign="top"><a
					href="/calendar/event/103"> <i class="glyphicon glyphicon-check"></i></a>
					<small><span class="text-primary">&nbsp;12:30 - 13:00</span></small>
				</td>
				<td class="text-left" style="border-top: none;">
				<dl>
					<dd>3 brødskiver med margarin og pålegg / Havregrøt på lettmelk med 1 ts sukker og evntuelt kanel</dd>
					<dd>1 glass lettmelk (2 dl)</dd>
                  	<dd>1 frukt</dd>
                  	<dd>25 ml Fresubin Energy</dd>
                  </dl>
				</td>
				<td style="border-top: none;">
					<div class="btn-group">
						<a href="#" onclick="deleteEvent('tirsdag, 02. feb 2016','103');"
							class="btn btn-default btn-xs"> <span
							class="glyphicon glyphicon-remove-circle delete-color"></span>
						</a> <a href="/calendar/event/edit/103" class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-edit edit-color"></span>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<!-- 
			<tr>
				<td>
					
					
					<a href="/calendar/event/new" class="btn btn-primary btn-sm">New Event</a>
				</td>
			</tr>
		 -->
		</tfoot>
	</table>
</body>
</html>