<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-include">
	<title>Pepilie</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- mobile friendly style -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- For search engines -->
	<meta name="description" content="private web app for logging personal data." >
	<meta name="author" content="gunnarro">

    <!-- css -->
    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" />
 	<link href="../static/css/dietmanager.css" th:href="@{/css/dietmanager.css}" rel="stylesheet" media="screen"/>
 	<link href="../static/css/bootstrap4-custom.css" th:href="@{/css/bootstrap4-custom.css}" rel="stylesheet" media="screen"/>
 	<link href="../static/css/cards-gallery.css" th:href="@{/css/cards-gallery.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/icomoon-icon-font.css" th:href="@{/css/icomoon-icon-font.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/open-iconic/font/css/open-iconic-bootstrap.css" th:href="@{/css/open-iconic/font/css/open-iconic-bootstrap.css}" rel="stylesheet" media="screen">
    
    <!-- for image cards gallery page -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    
    <!-- scripts -->
    <script type="text/javascript" th:href="@{/js/google-chart-loader.js}"></script>
    <script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/js/google-chart-loader.js"></script>
    <script type="text/javascript" src="/js/bmi-chart.js"></script>
	<!-- 
	<script type="text/javascript" src="/webjars/popper.js/1.14.1/popper.min.js" ></script>
	 -->
</head>
<body></body>
</html>