<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    	<title>DietManager</title>
        <meta charset="UTF-8"/>
        <!-- this is header-css -->
        <link th:href="@{/webjars/bootstrap/4.1.2/css/bootstrap.min.css}" rel="stylesheet" />
    	<link href="../static/css/dietmanager.css" th:href="@{/css/dietmanager.css}" rel="stylesheet" media="screen"/>
    	<link href="../static/css/dietmanager.css" th:href="@{/css/icomoon-icon-font.css}" rel="stylesheet" media="screen"/>
    	<script type="text/javascript" src="/dietmanager/webjars/jquery/3.1.1-1/jquery.min.js"></script>
		<script type="text/javascript" src="/dietmanager/webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <div class="container">
                <div layout:fragment="content">
                        Page content goes here
                </div>
        </div>

        <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <th:block layout:fragment="scripts"></th:block>
    </body>
</html>