<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="scripts">
	<script type="text/javascript" src="/dietmanager/webjars/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  	<script type="text/javascript" src="/dietmanager/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/dietmanager/webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" th:href="@{/js/google-chart-loader.js}"></script>
</head>
</html>