<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/dietmanager.css}" href="../../css/dietmanager.css" />
    </div>
</head>
<body>
<div class="page-margin" th:fragment="top-menu">
	
	<nav role="navigation" class="navbar navbar-default">
	
		<!-- Collection of nav links and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a th:href="/diet/mystatus"><i class="icon-happy2"></i><span th:text="#{topmenu.status}" ></span></a></li>
				
			</ul>	
		</div>
		
	</nav>
</div>

</body>
</html>