<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head-include :: head-include"></head>

<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>
	<div class="container-fluid">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/diet/log/events}" th:text="#{topmenu.log}"></a></li>
				<li class="breadcrumb-item"><a th:href="@{/diet/log/event/view/} + ${id}" th:text="#{lbl.event}"></a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="#{bl.uploadfile}"></li>
			</ol>
		</nav>
		
		<div class="card">
			<div class="card-header clearfix">
				<h3 class="card-title" th:text="uploadfile.title"></h3>
			</div>
			<!-- end panel header -->
			<div class="card-body">
				<form method="POST" enctype="multipart/form-data" action="/upload">
					<input type="text" name="id" th:value="${id}" hidden="true">
					<input type="text" name="redirectUri" th:value="${redirectUri}" hidden="true">
					<div class="form-group">
					<label th:text="#{lbl.file}"></label> 
					<div class="custom-file">
  						<input type="file" class="custom-file-input" id="file" name="file">
  						<label class="custom-file-label" for="file" th:text="#{lbl.selectfile}"></label>
					</div>
					</div>
					<div class="form-group">
						<label th:text="#{lbl.description}"></label> 
						<input class="form-control" type="text" name="description">
					</div>
					<div class="form-group float-right">
						<button type="submit" class="btn btn-primary" th:text="#{btn.upload}"></button>
						<a th:href="@{/diet/log/event/view/} + ${id}" class="btn btn-outline-secondary"><span th:text="#{btn.cancel}"></span></a>
					</div>
				</form>
				
				<h4 th:text="#{uploadfile.title_uploaded}"></h4>
				<div class="row" th:each="file : ${files}">
					<div class="col-lg-4">
						<div class="thumbnail">
							<img th:src="${file}" style="width: 100%; height: 100%">
							<div class="caption">
								<p th:text="${file}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end panel body -->
			<div class="card-footer clearfix">
				<div class="float-right">
					<a th:href="@{/diet/log/event/view/} + ${id}" class="btn btn-primary btn-sm"><span th:text="#{btn.back}"></span></a>
				</div>
			</div>
			<!-- end panel footer -->
		</div>
		<!-- end panel -->
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
	
	<script type="text/javascript">
	/* show file value after file select */
	$('.custom-file-input').on('change',function(){
		  var fileName = $(this).val();
		  $(this).next('.custom-file-label').addClass("selected").html(fileName);
	})
	</script>
	
</body>

</html>