<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">

		<div>
			<h2>About</h2>
		</div>

		<h3>Open Source projects</h3>
		<ul>
			<li><a href="https://spring.io/">Spring</a></li>
			<li><a href="http://www.thymeleaf.org/">Thymeleaf</a></li>
			<li><a href="https://www.mysql.com/">mysql</a></li>
		</ul>
		<h3>Platform</h3>
		<ul>
			<li><a href="https://www.openshift.com/">openshift</a></li>
		</ul>

		<h3>Source</h3>
		<ul>
			<li><a href="https://github.com/gunnarro/microapp/tree/master/diet-manager">github</a></li>
		</ul>

		<h3>QA</h3>
		<ul>
			<li><a href="https://sonarcloud.io/dashboard?id=com.gunnarro.dietmanager%3Adiet-manager">SonarQube</a></li>
		</ul>

	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>