<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div>
        <h1>About</h1>
    </div>

	<h3>Open Source projects</h3>
	- <a href="https://spring.io/">Spring</a>
	- <a href="http://www.thymeleaf.org/">Thymeleaf</a>
	- <a href="https://www.mysql.com/">mysql</a>
	
	<h3>Cloud</h3>
	<a href="https://www.openshift.com/">openshift</a>
	
	<h3>Source</h3>
	- <a href="https://github.com/gunnarro/microapp/tree/master/diet-manager">github</a>
	
	<h3>QA</h3>
	- <a href="https://sonarcloud.io/dashboard?id=com.gunnarro.dietmanager%3Adiet-manager">SonarQube</a>
	
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>