<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head-include :: head-include">
</head>
<body>

<table id="dietPlanTbl" class="table table-condensed">
	<caption class="text-right">
				<small th:text="#{lbl.lastupdated} + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm:ss')}"></small>
	</caption>
	<thead>
		<tr class="info">
			<th colspan="5" class="text-left" th:text="${dietMenu.description}"></th>
			<!-- 
			<th class="text-right">
				<spring:url value="/diet/dietplan/edit/{dietPlanId}" var="editUrl" htmlEscape="true">
					<spring:param name="dietMenuId" value="${dietMenu.id}" />
				</spring:url> 
				<a href="${fn:escapeXml(editUrl)}" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-edit edit-color"></span>
				</a>
			</th>
			-->
		</tr>
	</thead>
	<tbody>
		<th:block th:each="dietPlan, iter : ${dietPlans}">
			<tr th:id="'row_' + ${iter.index}">
				<td class="text-left" style="border-top: none;">
					<small>
						<i th:if="${dietPlan.active}" class="glyphicon glyphicon-ok-circle checked-color"></i>
						<i th:if="not ${dietPlan.active}" class="glyphicon glyphicon-unchecked unchecked-color"></i>
					</small>
				</td>
				<td class="text-left" style="border-top: none;">
					<a th:href="@{/diet/dietplan/} + ${dietPlan.id}" class="btn btn-primary btn-xs" th:text="${dietPlan.name}"></a>
				</td>
				<td class="text-left" style="border-top: none;" th:text="${dietPlan.description}"></td>
				<td class="text-left" style="border-top: none;">
					<a th:href="@{/diet/dietplan/} + ${dietPlan.id}" class="btn btn-primary btn-xs">View</a>
					<a th:href="@{/diet/dietplan/delete/} + ${dietPlan.id}" class="btn btn-primary btn-xs">Delete</a>
				</td>
			</tr>
		</th:block>
	</tbody>
	<tfoot>
	</tfoot>
</table>
