<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head-include :: head-include">
</head>
<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>

	<div class="container-fluid">
		
		<ul class="breadcrumb">
			<li><a th:href="@{/diet/dietplan/current}" >Diet Plan</a></li>
        	<li class="active">Bytteliste</li>
    	</ul>
    	
		<div class="page-header">
			<h4>Bytteliste</h4>
		</div>

		<table id="dietProductChangeTbl" class="table table-condensed">
			<caption class="text-right">
				<small th:text="#{lbl.lastupdated} + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm:ss')}"></small>
			</caption>


			<thead>
				<tr class="info">
					<th colspan="2" class="text-left">Bytteliste for produkter</th>
					<!-- 
					<th class="text-right"><spring:url value="/diet/dietplan/edit/{dietPlanId}" var="editUrl" htmlEscape="true">
						<spring:param name="dietMenuId" value="1" />
						</spring:url> <a href="${fn:escapeXml(editUrl)}" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-edit edit-color"></span>
					</a></th>
					-->
				</tr>
			</thead>
			<tbody>
				<th:block th:each="foodProduct : ${foodProducts}">
					<tr th:id="'date_' + ${foodProduct.id}" class="active">
						<td colspan="2" class="text-left">
							<span class="label label-primary" th:text="${foodProduct.name}"></span>
						</td>
					</tr>

					<th:block th:each="keyValuePair : ${foodProduct.productEquivalents}">
						<tr th:id="'row_' + ${foodProduct.id}">
							<td colspan="2" class="text-left" style="border-top: none;">
								<small><i class="glyphicon glyphicon-check"></i><span class="text-muted" th:text="${keyValuePair.value}">&nbsp;</span></small>
							</td>
						</tr>
					</th:block>
				</th:block>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">
					</td>
				</tr>
				<tr class="info">
					<td colspan="2" class="text-right">
						<a th:href="@{/diet/listdietplans}" class="btn btn-primary btn-sm" th:text="#{btn.cancel}"></a>
					</td>
				</tr>
			</tfoot>
		</table>

		<!-- end container -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>