<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head-include :: head-include">
</head>		
<body>
<script type="text/javascript">
$(document).ready(function () {
    (function ($) {
        $('#filterInputId').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.table-tbody tr').hide();
            //console.log("id: " + $('.table-tbody tr').attr('id'));
            $('.table-tbody tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});
</script>

	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>

	<div class="container-fluid">
		
    	<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/diet/menu/1}" th:text="#{topmenu.menu}"></a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="#{mychoises.title}"></li>
			</ol>
		</nav>
    	
    	<div class="bg-light mt-2 mb-2">
			<div class="clearfix ml-2 mr-2">
				<h3 class="float-sm-left align-baseline" th:text="#{mychoises.title}"></h3>
 		    	<a th:href="@{/diet/mychoices/statistic/log}" class="btn btn-primary btn-sm float-sm-right ml-1 align-baseline" th:text="#{mychoices.btn.controlledby}" role="button"></a> 
				<a th:href="@{/diet/mychoices/statistic/graph}" class="btn btn-primary btn-sm float-sm-right" th:text="#{mychoices.btn.controlledbygraph}" role="button"></a>
				<a th:href="@{/diet/mychoices/statistic/top10}" class="btn btn-primary btn-sm float-sm-right" th:text="#{mychoices.btn.top10}" role="button"></a>
			</div>
		</div>
    	
		<!-- 
		<c:if test="${missingMealsMap != null}">
			<jsp:include page="diet-mychoices-missing-meals.jsp" />
		</c:if>
		 -->
		 
		<div class="input-group input-group-margin" >
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				<label for="filterInputId" class="sr-only">Filter</label>
				<input id="filterInputId" type="text" class="form-control" placeholder="Filter text" />
		</div>
		
		<div class="table-responsive">
		<table id="myChoicesTbl" class="table table-sm">
			<caption class="text-right">
				<small th:text="#{lbl.lastupdated} + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm:ss')}"></small>
			</caption>
			<thead class="thead-light">
				<tr>
					<th scope="col" colspan="4" class="text-left"><small th:text="#{mychoises.mychoisesfrom}"></small><small th:text="${period}"></small></th>
					<th scope="col" colspan="2" class="text-right">
						<a th:href="@{/diet/mychoices/new/1/today}" class="btn btn-primary btn-sm">
							<span th:text="#{btn.add}"></span>
						</a>
					</th>
				</tr>
			</thead>
			<tbody class="table-tbody">
				<th:block th:each="mapEntry, iter : ${menuItemMap}" >	
				<tr th:id="'title-row_' + ${iter.index}" class="active-row">
					<td colspan="5" class="text-left" th:with="logDate=${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}">
						<th:block th:switch="${#dates.dayOfWeekName(mapEntry.key)}"> 
							<span th:case="&apos;Mandag&apos;" class="badge badge-dark" th:text="${logDate}"></span>
							<span th:case="&apos;Tirsdag&apos;" class="badge badge-dark" th:text="${logDate}"></span> 
							<span th:case="&apos;Onsdag&apos;" class="badge badge-dark" th:text="${logDate}"></span> 
							<span th:case="&apos;Torsdag&apos;" class="badge badge-dark" th:text="${logDate}"></span> 
							<span th:case="&apos;Fredag&apos;" class="badge badge-dark" th:text="${logDate}"></span> 
							<span th:case="&apos;L&#xF8;rdag&apos;" class="badge badge-dark" th:text="${logDate}"></span> 
							<span th:case="&apos;S&#xF8;ndag&apos;" class="badge badge-dark" th:text="${logDate}"></span>  
							<span th:case="*" class="badge badge-info" th:text="${logDate}"></span> 
						</th:block>
					</td>
					<!-- hack for jquery filter in order to link title to data row in search result -->
					<td hidden="true" th:text="${mapEntry.value}"></td>    
				</tr>
				<th:block th:each="menuItem, iter : ${mapEntry.value}">
					<tr th:id="'data-row_' + ${iter.index}">
						<!-- hack for jquery filter in order to link data row to title in search result-->
						<td hidden="true" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></td> 
						
						<td class="col-icon-fixed" style="border-top: none;">
							<a th:href="@{/diet/log/event/view/} + ${menuItem.fkLogId}" title="Se event log">
							<th:block th:switch="${menuItem.controlledByUserId}"> 
								<i th:case="6" th:class="${menuItem.hasConflict()}? 'oi oi-person error-color' : 'oi oi-person pawn-color'"></i>
								<i th:case="5" th:class="${menuItem.hasConflict()}? 'oi oi-person error-color' : 'oi oi-person pawn-color'"></i>
								<i th:case="4" th:class="${menuItem.hasConflict()}? 'oi oi-person error-color' : 'oi oi-person pawn-color'"></i>
								<i th:case="*" th:class="${menuItem.hasConflict()}? 'oi oi-person error-color' : 'oi oi-person pawn-color'"></i>
							</th:block>
							</a>
						</td>
						
						<td class="text-left" style="border-top: none;">
							<small><span th:class="${menuItem.hasConflict()}? 'text-danger' : 'text-muted'" th:text="${menuItem.name}"></span></small>
						</td>
						<td class="text-left" style="border-top: none;">
							<small><span th:class="${menuItem.hasConflict()}? 'text-danger' : 'text-muted'" th:text="${menuItem.description}"></span></small>
						</td>
						<td class="text-left" style="border-top: none;">
							<small><span class="badge badge-info" th:text="${menuItem.selectedCount}"></span></small>
						</td>
						<td class="col-icon-fixed" style="border-top: none;">
							<small><a th:href="@{/diet/mychoices/delete/} + ${menuItem.primaryKeyId}" ><i class="oi oi-trash" ></i></a></small>
						</td>
					</tr>
					<tr th:id="'trend-row_' + ${iter.index}">
						<td colspan="2" style="border-top: none;"></td>
						<td colspan="1" class="text-left" style="border-top: none;">
								<small th:text="#{lbl.trend}"></small>
								<th:block th:each="keyValuePair : ${menuItem.selectionTrends}">
										<small th:if="${keyValuePair.value == 'false'}" ><a href="#" title="Ikke valgt"><i class="oi oi-media-stop unchecked-color"></i></a></small>
										<small th:if="${keyValuePair.value == 'true'}" ><a href="#"><i class="oi oi-media-stop checked-color" th:title="'Valgt ' + ${keyValuePair.key}"></i></a></small>
								</th:block>
						</td>
						<td colspan="2" style="border-top: none;"></td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
			<tfoot>
				<tr>
				</tr>
				<tr>
					<td colspan="4">
						<small>
							<span><i class="oi oi-person king-color"></i> for Pappa, </span>
							<span><i class="oi oi-person queen-color"></i> for Mamma,</span>
							<span><i class="oi oi-person pawn-color"></i> for Pepilie,</span><br/>
							<span>Hvor <span class="bagde bagde-danger">rødt</span> ikon indikerer at det har vært konflikter rundt måltidet, se da <a href="${fn:escapeXml(eventLogUrl)}" title="Se event log">her</a> eller klikk på ikonet</span>
						</small>
					</td>
					<td colspan="2" class="text-right">
						<a th:href="@{/diet/menu/1}" class="btn btn-primary btn-sm" th:text="#{btn.back}"></a>
					</td>
				</tr>
			</tfoot>
		</table>
		</div>

		<!-- end container -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>