<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head-include :: head-include">
</head>		
<body>
<script type="text/javascript">
$(document).ready(function () {
    (function ($) {
        $('#filterInputId').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.table-tbody tr').hide();
            //console.log("id: " + $('.table-tbody tr').attr('id'));
            $('.table-tbody tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});
</script>

	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>

	<div class="container-fluid">
		
		<ul class="breadcrumb">
			<li><a th:href="@{/diet/menu/1}" >Diet Menu</a></li>
        	<li class="active">Mine Valg</li>
    	</ul>
    	
		<div class="page-header">
			<h4>Mine Valg</h4>
			<h5>
					<a th:href="@{/diet/mychoices/statistic/log}" >Vis Kontrollert av oversikt</a><br></br>
					<a th:href="@{/diet/mychoices/statistic/graph}" >Vis Kontrollert av graf</a><br></br>
					<a th:href="@{/diet/mychoices/statistic/top10}" >Vis mest valget</a>
			</h5>
		</div>

		<!-- 
		<c:if test="${missingMealsMap != null}">
			<jsp:include page="diet-mychoices-missing-meals.jsp" />
		</c:if>
		 -->
		 
		<div class="input-group input-group-margin" >
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				<label for="filterInputId" class="sr-only">Filter</label>
				<input id="filterInputId" type="text" class="form-control" placeholder="Filter text" />
		</div>
		
		<table id="myChoicesTbl" class="table table-condensed">
			<caption class="text-right">
				<small th:text="#{lbl.lastupdated} + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm:ss')}"></small>
			</caption>
			<thead class="thead-light">
				<tr>
					<th scope="col" colspan="4" class="text-left"><small>Mine valg fra </small><small th:text="${period}"></small></th>
					<th scope="col" colspan="2" class="text-right">
						<a th:href="@{/diet/mychoices/new/1/today}" class="btn btn-primary btn-sm">
							<span>Legg til</span>
						</a>
					</th>
				</tr>
			</thead>
			<tbody class="table-tbody">
				<th:block th:each="mapEntry, iter : ${menuItemMap}" >	
				<tr th:id="'title-row_' + ${iter.index}" class="active-row">
					<td colspan="5" class="text-left">
			            <span th:if="${#strings.equals(#dates.dayOfWeekName(mapEntry.key), 'Saturday')}" class="label label-danger" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></span>
						<span th:if="${#strings.equals(#dates.dayOfWeekName(mapEntry.key), 'Sunday')}" class="label label-primary" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></span>
						<span th:if="${#strings.equals(#dates.dayOfWeekName(mapEntry.key), 'Monday')}" class="label label-success" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></span>
						<span th:if="${#strings.equals(#dates.dayOfWeekName(mapEntry.key), 'Tuesday')}" class="label label-info" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></span>
						<span th:if="${#strings.equals(#dates.dayOfWeekName(mapEntry.key), 'Wednesday')}" class="label label-warning" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></span>
						<span th:if="${#strings.equals(#dates.dayOfWeekName(mapEntry.key), 'Thursday')}" class="label label-yellow" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></span>
						<span th:if="${#strings.equals(#dates.dayOfWeekName(mapEntry.key), 'Friday')}" class="label label-purple" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></span>
					</td>
					<!-- hack for jquery filter in order to link tilte to data row in search result -->
					<td hidden="true" th:text="${mapEntry.value}"></td>    
				</tr>
				<th:block th:each="menuItem, iter : ${mapEntry.value}">
					<tr th:id="'data-row_' + ${iter.index}">
						<!-- hack for jquery filter in order to link data row to title in search result-->
						<td hidden="true" th:text="${#dates.format(mapEntry.key, 'EEEE dd.MM.yy')}"></td> 
						
						<td class="col-icon-fixed" style="border-top: none;">
							<a th:href="@{/diet/log/event/view/} + ${menuItem.fkLogId}" title="Se event log">
								<i th:if="${menuItem.controlledByUserId} == 5" th:class="${menuItem.hasConflict()}? 'glyphicon glyphicon-king error-color' : 'glyphicon glyphicon-king king-color'" ></i>
								<i th:if="${menuItem.controlledByUserId} == 6" th:class="${menuItem.hasConflict()}? 'glyphicon glyphicon-queen error-color' : 'glyphicon glyphicon-queen queen-color'" ></i>
								<i th:if="${menuItem.controlledByUserId} == 4" th:class="${menuItem.hasConflict()}? 'glyphicon glyphicon-pawn error-color' : 'glyphicon glyphicon-pawn pawn-color'" ></i>
							</a>
						</td>
						
						<td class="text-left" style="border-top: none;">
							<small><span th:class="${menuItem.hasConflict()}? 'text-danger' : 'text-muted'" th:text="${menuItem.name}"></span></small>
						</td>
						<td class="text-left" style="border-top: none;">
							<small><span th:class="${menuItem.hasConflict()}? 'text-danger' : 'text-muted'" th:text="${menuItem.description}"></span></small>
						</td>
						<td class="text-left" style="border-top: none;">
							<small><span class="badge badge-info" th:text="${menuItem.selectedCount}"></span></small>
						</td>
						<td class="col-icon-fixed" style="border-top: none;">
							<small><a th:href="@{/diet/mychoices/delete/} + ${menuItem.primaryKeyId}" ><i class="glyphicon glyphicon-trash" ></i></a></small>
						</td>
					</tr>
					<tr th:id="'trend-row_' + ${iter.index}">
						<td colspan="2" style="border-top: none;"></td>
						<td colspan="1" class="text-left" style="border-top: none;">
								<small>Trend:</small>
								<th:block th:each="keyValuePair : ${menuItem.selectionTrends}">
										<small th:if="${keyValuePair.value == 'false'}" ><a href="#" title="Ikke valgt"><i class="glyphicon glyphicon-stop unchecked-color"></i></a></small>
										<small th:if="${keyValuePair.value == 'true'}" ><a href="#"><i class="glyphicon glyphicon-stop checked-color" th:title="'Valgt ' + ${keyValuePair.key}"></i></a></small>
								</th:block>
						</td>
						<td colspan="2" style="border-top: none;"></td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
			<tfoot>
				<tr>
				</tr>
				<tr>
					<td colspan="4">
						<small>
							<span><i class="glyphicon glyphicon-king king-color"></i> for Pappa, </span>
							<span><i class="glyphicon glyphicon-queen queen-color"></i> for Mamma,</span>
							<span><i class="glyphicon glyphicon-pawn pawn-color"></i> for Pepilie,</span><br/>
							<span>Hvor <span class="label label-danger">rødt</span> ikon indikerer at det har vært konflikter rundt måltidet, se da <a href="${fn:escapeXml(eventLogUrl)}" title="Se event log">her</a> eller klikk på ikonet</span>
						</small>
					</td>
					<td colspan="2" class="text-right">
						<a th:href="@{/diet/menu/1}" class="btn btn-primary btn-sm" th:text="#{btn.back}"></a>
					</td>
				</tr>
			</tfoot>
		</table>

		<!-- end container -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>