<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head-include :: head-include">
</head>
<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>

	<div class="container-fluid">
		
		<div class="page-header">
			<h4>Matoppskrifter</h4>
		</div>

		<table id="recipesTbl" class="table table-condensed">
			<caption class="text-right">
				<small th:text="#{lbl.lastupdated} + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm:ss')}"></small>
			</caption>

			<thead>
				<tr class="info">
					<th colspan="2" class="text-left">Oppskrifter</th>
					<!-- 
					<th class="text-right"><spring:url value="/diet/dietplan/edit/{dietPlanId}" var="editUrl" htmlEscape="true">
						<spring:param name="dietMenuId" value="1" />
						</spring:url> <a href="${fn:escapeXml(editUrl)}" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-edit edit-color"></span>
					</a></th>
					-->
				</tr>
			</thead>
			<tbody>
				<th:block th:each="keyValuePair : ${recipes}">
					<tr th:id="'date_' + ${keyValuePair.id}" class="active">
						<td colspan="2" class="text-left">
							<span class="label label-primary" th:text="${keyValuePair.key}"></span>
						</td>
					</tr>

					<th:block th:each="item, iter : ${keyValuePair.value}">
						<tr th:id="'row_' + ${iter.index}">
							<td colspan="2" class="text-left" style="border-top: none;">
								<small><i class="glyphicon glyphicon-check"></i><span class="text-muted" th:text="${item}">&nbsp;</span></small>
							</td>
						</tr>
					</th:block>
				</th:block>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">
					</td>
				</tr>
				<tr class="info">
					<td colspan="2" class="text-right">
						<a th:href="@{/home}" class="btn btn-primary btn-sm" th:text="#{btn.cancel}"></a>
					</td>
				</tr>
			</tfoot>
		</table>

		<!-- end container -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>