<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	<!-- To enable JMX Management -->
	<jmxConfigurator />
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date{ISO8601}] [%-5level] [%logger{0}.%method:%L] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="debugfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/dietmanager-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/dietmanager-service.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>[%date{ISO8601}] [%-5level] [%logger.%method:%L] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="httpSessionfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/dietmanager-http-session.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/dietmanager-http-session.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>[%date{ISO8601}] [%-5level] [%logger{0}.%method:%L] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="requestLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/dietmanager-request.log</file>
		 <!-- Use size based policy in order to avoid hugh log files -->
		 <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      		<fileNamePattern>logs/dietmanager-request.log.%i</fileNamePattern>
      		<minIndex>1</minIndex>
      		<maxIndex>5</maxIndex>
    	</rollingPolicy>
		 
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      		<maxFileSize>5MB</maxFileSize>
    	</triggeringPolicy>
		
		<encoder>
			<pattern>[%date{ISO8601}] [%thread] [%-5level] [%logger.%M:%L] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="performanceLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/dietmanager-performance.log</file>
		 <!-- Use size based policy in order to avoid hugh log files -->
		 <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      		<fileNamePattern>logs/dietmanager-performance.log.%i</fileNamePattern>
      		<minIndex>1</minIndex>
      		<maxIndex>5</maxIndex>
    	</rollingPolicy>
		 
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      		<maxFileSize>5MB</maxFileSize>
    	</triggeringPolicy>
		
		<encoder>
			<pattern>[%date{ISO8601}] [%thread] [%-5level] [%logger.%M:%L] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="ERROR" >
		<appender-ref ref="requestLogFile" />
	</logger>
	
	<logger name="org.springframework.aop.interceptor.JamonPerformanceMonitorInterceptor" level="ERROR" >
		<appender-ref ref="performanceLogFile" />
	</logger>
	
	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="ERROR" >
		<appender-ref ref="requestLogFile" />
	</logger>
	
	<logger name="com.gunnarro.dietmanager" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="debugfile" />
	</logger>
	
	<logger name="com.gunnarro.dietmanager.repository.impl.DietManagerRowMapper" level="ERROR" additivity="false">
		<appender-ref ref="debugfile" />
	</logger>

	<logger name="org.springframework.web.servlet.mvc" level="ERROR" >
		<appender-ref ref="debugfile" />
	</logger>
		
	<logger name="com.gunnarro.dietmanager.listener.HttpSessionListener" level="INFO" additivity="false">
		<appender-ref ref="httpSessionfile" />
	</logger>

	<logger name="org.springframework" level="ERROR" additivity="false">
		<appender-ref ref="debugfile" />
	</logger>
	
	<logger name="org.springframework.security" level="ERROR" additivity="false">
		<appender-ref ref="debugfile" />
	</logger>
	
	<logger name="org.springframework.social" level="ERROR" additivity="false">
		<appender-ref ref="debugfile" />
	</logger>
	
	<logger name="org.springframework.security.web.authentication" level="ERROR" additivity="false">
		<appender-ref ref="debugfile" />
	</logger>
	
	<!-- for logging parameter values -->
	<logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="ERROR" additivity="false" />

	<logger name="org.thymeleaf" level="ERROR" additivity="false">
		<appender-ref ref="debugfile" />
	</logger>

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="debugfile" />
	</root>
</configuration>