<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<th:block th:fragment="cards-gallery">
	   <section th:if="${log.resources != null}" class="gallery-block cards-gallery">
		    <div class="container">
		        <div class="heading">
		          <h3>Image Gallery</h3>
		        </div>
		        <div class="row">
		            <div th:each="resource : ${log.resources}" class="col-md-6 col-lg-4">
		                <div class="card border-0 transform-on-hover">
		                	<a class="lightbox" th:href="@{/upload/files/} + ${resource.path}">
		                		<img th:src="@{/upload/files/} + ${resource.path}" alt="Card Image" class="card-img-top">
		                	</a>
		                    <div class="card-body">
		                        <h6 class="card-title" th:text="${resource.name}"></h6>
		                        <p class="text-muted card-text" th:text="${resource.description}"></p>
		                   	    	<form th:action="@{/diet/log/event/img/delete}" method="POST">
										<input type="hidden" name="id" th:value="${resource.id}">
										<input type="hidden" name="name" th:value="${resource.name}">
										<button type="submit" class="btn btn-outline-danger btn-sm float-right" th:text="#{btn.delete}"></button>
									</form>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </section>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    	<script type="text/javascript">
        	baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
    	</script>
	 </th:block>
</body>
</html>