<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dietManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.9.127.2:3306/dietmanager" />
		<property name="username" value="web" />
		<property name="password" value="wEbt0t3" />
	</bean>

	<!-- JDBC Template bean definition -->
	<bean id="dietManagerJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dietManagerDataSource" />
	</bean>

	<!-- dietManager JDBC Repository bean definition -->
	<bean id="dietManagerRepository" class="com.gunnarro.dietmanager.repository.impl.DietManagerRepositoryImpl">
		<qualifier value="dietManagerRepository" />
		<constructor-arg ref="dietManagerJdbcTemplate" />
	</bean>

	<!-- User account repository setup -->
	<bean id="userAccountJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dietManagerDataSource" />
	</bean>

	<!-- user account JDBC Repository bean definition -->
	<bean id="userAccountRepository" class="com.gunnarro.useraccount.repository.impl.UserAccountRepositoryImpl">
		<qualifier value="userAccountRepository" />
		<constructor-arg ref="userAccountJdbcTemplate" />
	</bean>

	<!-- Log event repository setup -->
	<bean id="logEventJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dietManagerDataSource" />
	</bean>

	<!-- log event JDBC Repository bean definition -->
	<bean id="logEventRepository" class="com.gunnarro.dietmanager.repository.impl.LogEventRepositoryImpl">
		<qualifier value="logEventRepository" />
		<constructor-arg ref="logEventJdbcTemplate" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dietManagerDataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>