<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:include="fragments/head-include :: head-include">
</head>
<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>

	<div class="container-fluid">
		
		<ul class="breadcrumb">
			<li><a th:href="@{/diet/log/events}" th:text="#{topmenu.log}"></a></li>
			<li><a th:href="@{/diet/log/event/view/} + ${log.id}" th:text="#{lbl.event}"></a></li>
        	<li class="active" th:text="#{lbl.comment}"></li>
    	</ul>
		
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<div th:if="${#authentication.name == log.createdByUser} && ${comment.id} != null" class="pull-right">
					<div class="pull-right">
						<a th:href="${/diet/log/event/comment/delete/} + ${comment.id}" class="btn btn-danger btn-xs" th:text="#{btn.delete}"></a>
					</div>
				</div>
				<h3 th:if="${comment.id} == null" class="panel-title" th:text="#{editeventlog.title_comment}"></h3>
				<h3 th:if="${comment.id} != null" class="panel-title" th:text="#{editeventlog.title_comment_update}"></h3>
			</div>
			<!-- end panel header -->

			<div class="panel-body">
				<!-- View log -->
				<form action="#" th:action="@{/diet/log/event/comment/new}" th:object="${comment}" method="POST" >
					<input type="hidden" th:field="*{id}" />
					 
					<div class="form-group">
						<label th:text="#{lbl.comment}"></label>
						<textarea class="form-control" th:field="*{contentHtml}" ></textarea>
						<label th:each="err : ${#fields.errors('comment')}" th:text="${err}" class="help-block" ></label>
					</div>
					
					<p />
					<button type="submit" class="btn btn-primary" th:text="#{btn.new}"></button>
					<a th:href="@{/diet/log/events}" class="btn btn-default"><span th:text="#{btn.cancel}"></span></a>
				</form>
			</div>
			<!-- end panel body -->

			<div class="panel-footer clearfix">
				<div class="pull-right">
					<a th:href="@{/diet/log/events}" class="btn btn-primary btn-sm"><span th:text="#{btn.back}"></span></a>
				</div>
			</div>

			<!-- end panel footer -->
		</div>
		<!-- end panel -->
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>