<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
<body>
		<table th:fragment="log-data-table" id="myWieghtTbl" class="table table-condensed">
			<caption class="text-right">
				<small th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></small>
			</caption>
			<thead>
				<tr>
					<th colspan="6" class="text-left">Min Vekt</th>
					<th class="text-right">
						<a th:href="@{/diet/body/measurement/new}" class="btn btn-primary btn-xs"><span>Legg til</span></a>
					</th>
				</tr>
				<tr>
					<th><small>#</small></th>
					<th><small>Dato</small></th>
					<th><small>Vekt (kg)</small></th>
					<th><small>Høyde (cm)</small></th>
					<th><small>KMI</small></th>
					<th><small>Kommentar</small></th>
					<th><small>#</small></th>
				</tr>
			</thead>
			<tbody th:with="txtColor=text-muted, numberColor=text-primary, rowBgColor=none">
				<tr th:each="log,iter : ${logs}" th:class="${iter.index mod 2 == 0}? 'none' : 'bg-color-row-even'" >
						<td class="text-left" style="border-top: none;">
							<i th:if="${log.trendWeight} &gt; 0" class="glyphicon glyphicon-arrow-up color-satisfaction-5" ></i>
							<i th:if="${log.trendWeight} &lt; 0" class="glyphicon glyphicon-arrow-down color-satisfaction-1" ></i>
							<i th:if="${log.trendWeight} == 0" class="glyphicon glyphicon-arrow-right color-muted" ></i>
						</td>
						<td class="text-left" style="border-top: none;">
							<small><span class="${txtColor}" th:text="${#dates.format(log.logDate, 'EEE dd.MM.yyyy')}" ></span></small>
						</td>
						<td class="text-left" style="border-top: none;">
							<small><span class="${numberColor}" th:text="${log.weight}"></span> (<span class="${txtColor}" th:text="${#numbers.formatDecimal(log.weight - 52.5, 1,1)}"></span>)</small>
						</td>
						<td class="text-left" style="border-top: none;">
							<small><span class="${numberColor}" th:text="${log.height}"></span> (<span class="${txtColor}" th:text="${#numbers.formatDecimal(log.height - 163, 1,1)}"></span>)</small>
						</td>
						<td class="text-left" style="border-top: none;">
							<small>
							<span class="${numberColor}" th:text="${#numbers.formatDecimal(log.bmi,2,1)}"></span>
							(<span class="${txtColor}" th:text="${#numbers.formatDecimal(log.bmi - 20.5, 1,1)}"></span>)
							</small>
						</td>
						<td class="text-left" style="border-top: none;"><small><span class="${txtColor}" th:text="${log.comment}"></span></small></td>
						<td class="text-left" style="border-top: none;">
							<a th:href="@{/diet/body/measurement/delete/__${log.id}__}" >
								<i class="glyphicon glyphicon-trash" ></i>
							</a>
						</td>
					</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="7" class="text-right">
						<a th:href="@{/home}" class="btn btn-primary btn-xs"><span th:text="#{btn.back}"></span></a>
					</td>
				</tr>
			</tfoot>
		</table>
</body>
</html>