<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:include="fragments/head-include :: head-include">
</head>
<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>

	<div class="container-fluid">
		
		<div class="page-header">
			<h4 th:text="#{weightlog.page.title}" ></h4>
			<h5>
			<a th:href="@{/diet/body/measurement/details}">Vis detaljer</a><br></br>
			<a th:href="@{/diet/body/measurement/graph}">Vis graf</a>
			</h5>
		</div>
		
		<div th:replace="log/list-log-data :: log-data-table"></div>
		
	</div> <!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>