<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head-include :: head-include"></head>

<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>
	
	<div class="container-fluid">
    	
    	<nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a th:href="@{/diet/body/measurement/log}" th:text="#{weightlog.page.title}"></a></li>
        		<li class="breadcrumb-item active" aria-current="page" th:text="#{weightlog.grap.title}"></li>
  			</ol>
		</nav>
		
    	<div class="bg-light mt-2 mb-2">
			<div class="clearfix ml-2 mr-2">
				<h3 class="float-sm-left align-baseline" th:text="#{weightlog.grap.title}"></h3>
			</div>
		</div>
    	
		<div id="linechart_weight"></div>
  		<div id="linechart_height"></div>
  		<div id="linechart_bmi"></div>
		
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
	
		<script th:inline="text">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawLineChart);
		</script>
	
</body>
</html>