<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:include="fragments/head-include :: head-include">
</head>
<body>
	<script type="text/javascript">
	 $(document).ready(function(){
    	 var simplemde = new SimpleMDE({ element: $("#logCommentMsgInputId")[0] });
     })
	</script>
	
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>
	
	<div class="container-fluid">
		
	<ul class="breadcrumb">
		<li><a th:href="@{/diet/log/events}" th:text="#{topmenu.log}"></a></li>
        <li class="active" th:text="#{lbl.event}"></li>
    </ul>	
   
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<div th:if="${log.id} != null" class="pull-right">
				<span th:if="${#authentication.name == log.createdByUser}">
					<a th:href="@{/diet/log/event/edit/} + ${log.id}" class="glyphicon glyphicon-edit"></a>
					<a th:href="@{/diet/log/event/delete/} + ${log.id}" class="glyphicon glyphicon-trash"></a>
				</span>
				<span th:if="${#authentication.name != log.createdByUser}">
					<a th:href="@{/diet/log/event/edit/} + ${log.id}" class="btn btn-default btn-xs disabled"><i class="glyphicon glyphicon-edit"></i></a>
					<a th:href="@{/diet/log/event/delete/} + ${log.id}" class="btn btn-default btn-xs disabled"><i class="glyphicon glyphicon-trash"></i></a>
				</span>
			</div>
			
			<h3 class="panel-title">
				<span th:text="${#dates.format(log.createdDate, 'EEEE dd.MM.yy') + ' ' + #dates.format(log.createdDate, 'HH:mm')}" class="label label-default" ></span>
				<span th:if="${log.level == 'INFO'}" class="label label-info" th:text="${log.level}"></span> 
				<span th:if="${log.level == 'ACTIVITY'}" class="label label-success" th:text="${log.level}"></span>
				<span th:if="${log.level == 'REPORT'}" class="label label-warning" th:text="${log.level}"></span>
				<span th:if="${log.level == 'CONFLICT'}" class="label label-danger" th:text="${log.level}"></span>
				<span th:text="${log.title}"></span>				
			</h3>
		</div>
		<!-- end panel header -->
		
		<div class="panel-body center-block">
			<ul class="list-group">
			  <li class="list-group-item list-group-item-success" style="margin: 0px 0px 10px 0px;">
				<h5><small th:inline="text">[[#{lbl.created_date}]] [[${#dates.format(log.createdDate, 'EEEE dd.MM.yyyy HH:mm:ss')}]] [[#{lbl.by}]] [[${log.createdByUser}]]</small></h5>
				<p class="text-left" th:text="${log.contentHtml}"></p>
			  </li>
  
			   <th:block th:if="${!log.logComments.isEmpty()}" th:each="comment : ${log.logComments}">
				     <li class="list-group-item list-group-item-info" style="margin: 0px 0px 10px 25px;">
				     	<h5><small th:inline="text">[[#{lbl.created_date}]] [[${#dates.format(comment.createdDate, 'EEEE dd.MM.yyyy HH:mm:ss')}]] [[#{lbl.by}]] [[${comment.createdByUser}]]</small></h5>
						<p class="text-left" th:text="${comment.content}"></p>
			  		</li>
			  </th:block>
			</ul> 
	    </div>

		<!-- view images -->
		<div th:each="resource : ${log.resources}" class="row">
		  <div class="col-md-4">
		    <div class="thumbnail">
		        <img th:src="@{/upload/files/} + ${resource.path}" style="width:100%;height:100%">
		        <div class="caption">
		          <p th:text="${resource.path}"></p>
		        </div>
		    </div>
		  </div>
		</div>
	    
		<!-- end panel body -->
		<div class="panel-footer clearfix">
			<div class="pull-right">
				<a th:href="@{/diet/log/events}" class="btn btn-primary btn-sm"><span th:text="#{btn.back}"></span></a>
			</div>
		</div>
		<!-- end panel footer -->
     </div>
   <!-- end panel -->
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
