<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- this is header-css -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/dietmanager.css" th:href="@{/css/dietmanager.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/dietmanager.css" th:href="@{/css/icomoon-icon-font.css}" rel="stylesheet" media="screen"/>
    	
    <style type="text/css">
		table.table thead tr th { background-color:#f5f5f5 !important;}
		table.table tfoot tr { background-color:#f5f5f5 !important;}
		.table-condensed>thead>tr>th, 
		.table-condensed>tbody>tr>th,
		.table-condensed>tfoot>tr>th, 
		.table-condensed>thead>tr>td,
		.table-condensed>tbody>tr>td, 
		.table-condensed>tfoot>tr>td {padding: 3px;}
	</style>
</head>
<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>

	<div class="container-fluid">
		<div class="page-header">
			<h4 th:text="#{weightlog.page.title}" ></h4>
			<h5>
			<a th:href="@{/diet/body/measurement/details}">Vis detaljer</a><br></br>
			<a th:href="@{/diet/body/measurement/graph}">Vis graf</a>
			</h5>
		</div>
		
		<div th:replace="log/list-log-data :: log-data-table"></div>
		
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>