<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
        <!-- this is header-css -->
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    	<link href="../static/css/dietmanager.css" th:href="@{/css/dietmanager.css}" rel="stylesheet" media="screen"/>
    	<link href="../static/css/dietmanager.css" th:href="@{/css/icomoon-icon-font.css}" rel="stylesheet" media="screen"/>'
    	<script src="../static/js/google-chart-loader.js" th:src="@{/js/google-chart-loader.js}"></script>
    	<script type="text/javascript" th:href="${/webjars/jquery/3.1.1/jquery.min.js}"></script>
		<script type="text/javascript" th:href="${/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
    	
</head>
<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>
	
	<div class="container-fluid">
		<ul class="breadcrumb">
        	<li><a th:href="@{/diet/body/measurement/log}">Oversikt vekt og høyde</a></li>
        	<li class="active">Utvikling vekt, høyde og bmi</li>
    	</ul>
    	
		<div class="page-header">
			<h4>Utvikling vekt, høyde og bmi</h4>
		</div>
		<div th:replace="chart/google-chart-view :: google-chart-view"></div>
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>