<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
		<title>DietManager</title>
		<meta charset="UTF-8"></meta>
		<!-- mobile friendly style -->
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<!-- For search engines -->
		<meta name="description" content="private web app for logging personal data." ></meta>
		<meta name="author" content="gunnarro"></meta>
      
    	<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
		
		<script type="text/javascript" src="/js/google-chart-loader.js"></script>
    	<script type="text/javascript" src="/js/bmi-chart.js"></script>
    	
    	 <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    	 <link href="../static/css/dietmanager.css" th:href="@{/css/dietmanager.css}" rel="stylesheet" media="screen"/>
    	 <link href="../static/css/icomoon-icon-font.css" th:href="@{/css/icomoon-icon-font.css}" rel="stylesheet" media="screen"/></head>
<body>
	<div th:replace="fragments/header-topmenu :: header-topmenu"></div>
	
	<div class="container-fluid">
		<ul class="breadcrumb">
        	<li><a th:href="@{/diet/body/measurement/log}">Oversikt vekt og høyde</a></li>
        	<li class="active">Utvikling vekt, høyde og bmi</li>
    	</ul>
    	
		<div class="page-header">
			<h4>Utvikling vekt, høyde og bmi</h4>
		</div>
		
		<div id="linechart_weight"></div>
  		<div id="linechart_height"></div>
  		<div id="linechart_bmi"></div>
		
	</div>
	<!-- end container -->
	<div th:replace="fragments/footer :: footer"></div>
	
		<script th:inline="text">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawLineChart);
		</script>
	
</body>
</html>