<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	
	<bean id="userAccountService" class="com.gunnarro.useraccount.service.impl.UserAccountServiceImpl">
		<qualifier value="userAccountService" />
	</bean>
	
	<!-- For spring security setup -->
	<bean id="loginAttemptService" class="com.gunnarro.useraccount.service.impl.LoginAttemptServiceImpl" />
	
	<bean id="localUserDetailsService" class="com.gunnarro.useraccount.service.impl.LocalUserDetailsServiceImpl">
		<qualifier value="localUserDetailsService" />
	</bean>
	
	<bean id="pwdEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg type="int" value="13" />
	</bean>
	
</beans>